{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-title-area">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="title-content">
<h2>Order Tracking</h2>
<ul>
<li>
<a href="{% url 'home:home' %}">Home</a>
</li>
<li>
<span>Order Tracking</span>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="title-img">
<img src="{% static 'images/page-title3.jpg' %}" alt="About">
<img src="{% static 'images/shape16.png' %}" alt="Shape">
<img src="{% static 'images/shape17.png' %}" alt="Shape">
<img src="{% static 'images/shape18.png' %}" alt="Shape">
</div>
</div>


<div class="order-tracking-area pt-100 pb-70">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div class="order-img">
<img src="{% static 'images/order-main1.png' %}" alt="Order">
</div>
</div>
<div class="col-lg-6">
<div class="order-content">
<form>
<h2>Track Your Order</h2>
<div class="form-group">
<input type="text" class="form-control" placeholder="Order ID">
</div>
<div class="form-group">
<input type="email" class="form-control" placeholder="Billing Email">
</div>
<button type="submit" class="btn common-btn">
Track Order
<img src="{% static 'images/shape1.png' %}" alt="Shape">
<img src="{% static 'images/shape2.png' %}" alt="Shape">
</button>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
<label class="form-check-label" for="flexCheckDefault3">
I accept all <a href="{% url 'page:conditions' %}">Terms & Conditions.</a> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
</label>
</div>
</form>
</div>
</div>
</div>
</div>
</div>


<div class="support-area pt-100 pb-70">
<div class="container">
<div class="row justify-content-center">
<div class="col-sm-6 col-lg-4">
<div class="support-item">
<i class="flaticon-free-delivery"></i>
<h3>Free Next Day Delivery</h3>
<p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
<img src="{% static 'images/support-shape1.png' %}" alt="Shape">
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="support-item">
<i class="flaticon-call-center"></i>
<h3>24/7 Online Support</h3>
<p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
<img src="{% static 'images/support-shape1.png' %}" alt="Shape">
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="support-item">
<i class="flaticon-giftbox"></i>
<h3>Weekly Gift Voucher</h3>
<p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
<img src="{% static 'images/support-shape1.png' %}" alt="Shape">
</div>
</div>
</div>
</div>
</div>


<section class="brand-area pt-100 pb-70">
<div class="container">
<div class="section-title">
<h2>Our Trusted Brand</h2>
</div>
<div class="row justify-content-center">
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="{% static 'images/brand/brand1.png' %}" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="{% static 'images/brand/brand2.png' %}" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="{% static 'images/brand/brand3.png' %}" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="{% static 'images/brand/brand4.png' %}" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="{% static 'images/brand/brand5.png' %}" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="{% static 'images/brand/brand6.png' %}" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="{% static 'images/brand/brand7.png' %}" alt="Brand">
</a>
</div>
</div>
</div>
</div>
</section>

{% endblock %}