{% load static %}
{% for product in data %}
<div class="product-wrap">
	<div class="product text-center">
		<figure class="product-media">
			<a href="{% url 'shop:single-product' product.slug  %}">
				<img src="{{ product.image.url }}" alt="Product" width="300"
					height="338" />
			</a>
			
		</figure>
		<div class="product-details">
			<div class="product-cat">
				<a href="shop-banner-sidebar.html">{{ product.category }}</a>
			</div>
			<h3 class="product-name">
				<a href="product-default.html">{{ product.name }}</a>
			</h3>
			<div class="ratings-container">
				
			</div>
			<div class="product-pa-wrapper">
				<div class="product-price">
					{{product.price}} $
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}